body
{
    background-color: #1C1A2D;
    
}
.container {
    display: flex;
    margin: 60px 40px;
    height: 600px;
    max-width: 100%;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}
.description {
    color: white;
    font-size: 1.5em;
    margin-bottom: 20px;
    max-width: 80%;
}
.reviews_component{
    width: auto;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
color: white;
margin-left: 17%;
margin-top: 40px;
}

.reviewBox_container{
    height: 500px;
display: flex;
justify-content: center;
margin: 60px 40px;
max-width: 100%;
align-items: center;
}