.background {
    margin-top: 55px;
    margin-left: 10px;
    margin-right: 10px;
}

.cre {
    height: 300px !important; /* Set height as needed */
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}