.full {
    background-color: white;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-top: 5%;
    position: relative; /* Dodaj position: relative dla .full */
  }
  
  .background {
    filter: brightness(50%);
    position: absolute;
    font-size: 500px; /* Dostosuj rozmiar czcionki do swoich potrzeb */
    font-weight: bold; /* Opcjonalnie: pogrubienie tekstu */
    z-index: -1; /* Ustaw niższy z-index, aby napis "Auto" był pod formularzem */
  }