.full {
  width: 50%;
  text-align: center;
  margin: 5% auto;
  position: relative;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pp {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="date"],
input[type="password"] {
  display: block;
  margin: 10px auto;
  width: calc(100% - 40px); /* Reduced width to allow space for padding */
  max-width: 300px;
  padding: 10px;
  font-size: 1em;
}
.ss
{
  font-size: 50px;
}
.button {
  color: black;
  background-color: hsl(245, 89%, 79%);
  font-weight: bold;
  font-size: 1.5em;
  border: none;
  cursor: pointer;
  width: 200px;
  height: 40px;
  margin-top: 20px;
  padding: 10px;
  margin-bottom: 20px;
}

.error {
  color: red;
  margin-top: 20px;
}
.reg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Ustaw wysokość, aby tekst był wyśrodkowany w pionie */
}