.full {
    background-color: white;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-top: 5%;
    position: relative; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .background {
    filter: brightness(50%);
    position: absolute;
    font-size: 500px; 
    font-weight: bold; 
    z-index: -1; 
  }