
  .card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
  }
  .card-registration .select-arrow {
  top: 13px;
  }
  .registr{
    text-align: center;
  }
  .logins {
    border-color: #3a2fba !important;
    color: #3a2fba !important;
    background-color: white !important;
    transition: background-color 0.3s, color 0.3s !important;
  }
  
  .logins:hover {
    background-color: #3a2fba !important;
    color: white !important;
  }