/* ReviewsBox.module.css */
.mainBox {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 90%;
  background-color: white;
  border-radius: 10px;
    margin-left: 13%;
  }

  .commentsContainer {
    overflow: auto; /* Ustawienie przewijania */
    padding: 10px; /* Dodaj trochę marginesu wewnątrz kontenera */
    width: 100%;
  }

  .comment {
    margin-bottom: 10px; /* Opcjonalnie, dodaj odstęp między komentarzami */
    /* Dodaj inne style dla komentarzy */
    width: 100%;
    height: 100px;
    border: 2px solid black;
    border-radius: 10px;


  }
