body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px none white;
  box-shadow: 20px 20px 10px 20px #151325;
  background-color: #151325;
  top: 0;
  color: grey;
  font-size: 20px;
}

.logo {
  text-align: left;
  width: 100px;
  height: 100px;
  margin-bottom: 0px;
  margin-left: 50px;
  filter: brightness(100%);
  transition: filter 0.3s, transform 0.3s;
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
}

.logo:hover {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
  transform: scale(1.05);
}

.linkContainer {
  display: flex;
  align-items: center;
}

.registerLink, .homeLink {
  background-color: #ffffff;
  border: 2px solid #000000;
  width: 120px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none !important;
  color: #000000;
  margin-right: 15px;
  white-space: nowrap;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.registerLink:hover, .homeLink:hover {
  background-color: #f0f0f0;
  color: #333333;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.registerLink:active, .homeLink:active {
  background-color: #e0e0e0;
  color: #000000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: scale(1);
}

.avatar {
  width: 100px;
  height: 100px;
}

.nazwaUzytkownika {
  text-align: right;
  margin-right: 5%;
}
