.forgetPassword {
    background-color: #f8f9fa; /* Light background for the overall container */
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 60px;
    max-width: 500px;
    border-radius: 2%;
    max-height: 600px;
}

.panelDefault {
    padding: 0;
    width: 100%;
    max-width: 1000px; /* Maximum width of 1000px */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.panelBody {
    padding: 20px;
    background: #fff;
    border-radius: 5px;
}

img {
    width: 40%;
    margin-bottom: 10%;
    max-height: 150px;
}

.btnForget {
    background: #3a2fba;
    border: none;
}
.btnForget:hover {
    filter: brightness(130%);
    background-color: #3a2fba;
    border: none;
}

/* Additional styles for form control */
.input-group select,
.input-group input {
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

@media (max-width: 1000px) {
    .forgetPassword {
        padding: 20px; /* Adjust padding for smaller screens */
    }
}