.login_page {
    width: 50%;
    text-align: center;
    margin: 5% auto;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    padding: 5px;
    margin-top: 90px;
}

.label_component {
    color: white;
    text-align: center;
    font-weight: bold; /* Pogrubienie tekstu */
    font-size: 18px;
    padding: 5px;
}

.input_component input {
    width: 250px;
    max-width: 250px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.login_button, .button {
    color: black;
    background-color: hsl(245, 89%, 79%);
    font-weight: bold;
    font-size: 1.5em;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 40px;
    margin-top: 20px;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.login_button:hover, .button:hover {
    background-color: hsl(245, 50%, 85%); /* Jasniejszy fiolet na najechaniu myszką */
    color: #000000; /* Czarny kolor tekstu na najechaniu myszką */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Cień na najechaniu myszką */
    transform: scale(1.05); /* Powiększenie przycisku na najechaniu myszką */
}

.login_button span {
    position: relative;
    top: -7px;
}

.form_style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.message {
    font-size: 20px;
    color: rgb(255, 255, 255);
}
