.gradient {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #8361db, #3a2fba, #060338, #14010e);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #8361db, #3a2fba, #060338, #14010e);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
}

   

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

.fulllogin{
    margin-top: 55px;

    border: none;
    
}
.card {
    border: none; /* Remove border from the card */
    max-width: 1800px;
    margin: auto;
}
.btn-primary {
    color: black;
}
.formlabel{
    text-align: center;
    display: flex;
    margin-left: 13%;
}
.left-side {
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
}
.loginbutton{
    background-color:#3a2fba;
}
.Createnew{
    border-color: #3a2fba;
    color: #3a2fba;
    transition: background-color 0.3s, color 0.3s !important;
}
.Createnew:hover{
    background-color: #3a2fba;
    border: #3a2fba;

}
.prefer{
    text-align: justify;
}